{% extends "bases.html" %}

{% block ext_css %}
    <style>
        .bg {
            background-image: url("/static/img/background.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        ul {
            padding: 0;
            margin: 0;
            text-align: center;
            list-style-type: none;

        }

        {#ul li {#}
        {#    background-image: url("/static/img/img.png");#}
        {#    background-repeat: no-repeat;#}
        {#    background-position: 0px 5px;#}
        {#    padding-left: 14px;#}
        {##}
        {#{#}
        .dialog {
            display: none;
            position: absolute;
            width: 300px;
            height: 300px;
            border: 1px solid green;
            left: 50%;
            margin-left: -150px;
            top: 200px;
            z-index: 999;
            background: rgb(135, 206, 235);
        }

        .dialog1 {
            display: none;
            position: absolute;
            width: 200px;
            height: 200px;
            border: 1px solid green;
            left: 50%;
            text-align: center;
            font-family: 'kaiti';
            font-size: 20px;
            margin-left: -100px;
            top: 200px;
            z-index: 999;
            background: rgb(135, 206, 235);
        }

        .nowTime {
            margin: 50px 0 0 10px;
        }

        .nowTime .pos, .time {
            margin-top: 10px;
        }

        .btn1 {
            margin: 50px 0 10px 0;
            padding-left: 60px;
        }
    </style>
{% endblock %}

{% block content1 %}
    <body class="bg">
    <div class="container">
        {% if errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>提示：{{ errors }}</strong>
            </div>
        {% endif %}
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table">
                    <thead>
                    <tr class="info">
                        {#                    楼层选择#}
                        <td class="text-center">
                            <label class="control-label">选择楼层：</label>
                            <ul>
                                {#                                <li style="#}
                                {#            background: url(/static/img/loc.jpg) no-repeat 0px 0px;#}
                                {#            padding-left: 30px;"><a href="/user/update?uid={{ user.id }}">一楼</a></li>#}
                                <li><a href="/order/seats?floorId=1">一楼</a></li>
                                <li><a href="/order/seats?floorId=2">二楼</a></li>
                                <li><a href="/order/seats?floorId=3">三楼</a></li>
                                <li><a href="/order/seats?floorId=4">四楼</a></li>
                                <li><a href="/order/seats?floorId=5">五楼</a></li>
                            </ul>
                        </td>
                        {#                    座位选择#}
                        <td class="text-center">
                            {#                        座位查询#}
                            <div class="row clearfix">
                                <div class="col-md-5 column">
                                    {% if seat %}
                                        <label class="control-label">您当前预约位置：{{ seat.floor }}楼第{{ seat.row }}排{{ seat.col }}列&nbsp;</label>
                                        <a class="btn btn-success btn-s" href="/order/signin?seatId={{ seat.id }}">签到</a>&nbsp;
                                        <a class="btn btn-success btn-s" href="/order/signout?seatId={{ seat.id }}">签退</a>
                                    {% else %}
                                        <label class="control-label">您当前无预约</label>
                                    {% endif %}
                                </div>
                                <a class="btn btn-success btn-xs">&nbsp;&nbsp;&nbsp;</a>空闲&nbsp;&nbsp;
                                <a class="btn btn-warning btn-xs">&nbsp;&nbsp;&nbsp;</a>忙碌&nbsp;&nbsp;
                                <a class="btn btn-danger btn-xs">&nbsp;&nbsp;&nbsp;</a>当前预约
                            </div>
                            <br>
                            {#                        座位列表#}
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <table class="table">
                                        <thead>
                                        <tr class="info">
                                            <th width="12%"></th>
                                            {% for col in range(col_max) %}
                                                <th width="22%" class="text-center">第{{ loop.index }}列</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in seatList %}
                                            <tr class="warning">
                                                <td width="12%">第{{ loop.index }}排</td>
                                                {% for each in i %}
                                                    {% if each.uid==user.id %}
                                                        <td width="22%" class="text-center"><a
                                                                class="btn btn-danger btn-xs"
                                                                href="#">&nbsp&nbsp&nbsp</a>
                                                        </td>
                                                    {% elif each.uid==0 %}
                                                        <td width="22%" class="text-center"><a
                                                                class="btn btn-success btn-xs"
                                                                onclick="dialog(col={{ each.col }},row={{ each.row }},{{ each.id }})">&nbsp&nbsp&nbsp</a>
                                                        </td>
                                                    {% else %}
                                                        <td width="22%" class="text-center"><a
                                                                class="btn btn-warning btn-xs"
                                                                href="#">&nbsp&nbsp&nbsp</a>
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="dialog">
        <div class="nowTime">
            <span>当前时间：</span>
            <input class="form-control" id="measureDate" readonly="readonly" type="datetime-local" name="date">
            <script type="text/javascript" src='jquery.js'></script>
            <script type="text/javascript">
                //希望每次打开都要默认为今天日期+00:00
                //默认时间
                var myDate = new Date(), Y = myDate.getFullYear(),
                    M = myDate.getMonth() + 1, D = myDate.getDate(),
                    H = myDate.getHours(), i = myDate.getMinutes();
                //处理月是一位的情况
                if ((M + '').length == 1) {
                    M = '0' + (M + '');
                }
                //处理日是一位的情况
                if ((D + '').length == 1) {
                    D = '0' + (D + '')
                }
                var curDay = Y + '-' + M + '-' + D + 'T' + H + ':' + i;
                console.log(curDay)
                $('#measureDate').val(curDay)
            </script>
            <div class="pos">
                <span></span>
            </div>
            <div class="time">
                <span>预计使用时长：</span>
                <select id="time" name="time" class="form-control">
                    <option value="30">0.5小时</option>
                    <option value="60">1小时</option>
                    <option value="90">1.5小时</option>
                    <option value="120">2小时</option>
                    <option value="150">2.5小时</option>
                    <option value="180">3小时</option>
                    <option value="210">3.5小时</option>
                    <option value="240">4小时</option>
                    <option value="270">4.5小时</option>
                    <option value="300">5小时</option>
                    <option value="330">5.5小时</option>
                    <option value="360">6小时</option>
                    <select>
            </div>
            <div class="btn1">
                <button onclick="clo2()">确定</button>
                <button onclick="clo()" style="margin-left: 50px;">取消</button>
            </div>
        </div>
    </div>
    <div class="dialog1">
        <span style="display: inline-block;margin-top: 80px;"></span>
        <button onclick="clo1()" style="position: absolute;right:10px;bottom: 10px;">确定</button>
    </div>
    <script>
        // var as=document.querySelectorAll('.table a')
        var dia = document.querySelector('.dialog');
        var dia1 = document.querySelector('.dialog1');
        var sp = document.querySelector('.pos span');
        var sp1 = document.querySelector('.dialog1 span')
        var c, r, id;

        // var clo=document.querySelectorAll('.btn1 button');
        function dialog(col, row, sid) {
            c = col;
            r = row;
            id = sid;
            dia.style.display = 'block';
            sp.innerHTML = '预约位置：{{ floor }}楼第' + row + '排第' + col + '列';
        }

        function clo() {
            dia.style.display = 'none';
        }

        function clo1() {
            dia1.style.display = 'none';
        }

        function clo2() {
            var time = $("#time").val();
            $.get("book?seatId=" + id + "&time=" + time, function (data, status) {

            });


            dia.style.display = 'none';
            dia1.style.display = 'block';
            sp1.innerHTML = '您已经成功预约{{ floor }}楼第' + r + '排第' + c + '列！'
        }

        // console.log(as);
        // as.click(function(){
        //     dia.style.diaplay='block';
        // })
    </script>
    </body>
{% endblock %}