{% extends "basea.html" %}

{% block content1 %}
    <div class="row clearfix">
        <div class="col-md-1 column">
        </div>
        <div class="col-md-10 column">
            <div class="carousel slide" id="carousel-938966">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-938966">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-938966">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-938966">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="/static/img/slide1.png"/>
                        <div class="carousel-caption">
                            <h4>
                                First Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="/static/img/slide2.png"/>
                        <div class="carousel-caption">
                            <h4>
                                Second Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="/static/img/slide3.png"/>
                        <div class="carousel-caption">
                            <h4>
                                Third Thumbnail label
                            </h4>
                            <p>
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                            </p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-938966" data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                                href="#carousel-938966"
                                                                                data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="col-md-1 column">
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <div class="row clearfix">
        <!-- 违约学生 -->
        <div class="col-md-4 column">
            <div class="jumbotron">
                <h3>
                    近日违约学生
                </h3>
                <p>
                    姜蕴娟，侯婷婷
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
        </div>
        <!-- 公告 -->
        <div class="col-md-8 column">
            <div class="panel-group" id="panel-173614">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-173614"
                           href="#panel-element-19578">图书馆关于恢复全楼层阅览座位使用的通知</a>
                    </div>
                    <div id="panel-element-19578" class="panel-collapse collapse">
                        <div class="panel-body">
                            各位读者，图书馆改造工程已结束，我馆定于2021年5月17日恢复全楼层阅览座位使用。<br>特此通知，望读者相互转告。
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-173614"
                           href="#panel-element-925667">图书馆关于恢复全楼层阅览座位使用的通知</a>
                    </div>
                    <div id="panel-element-925667" class="panel-collapse collapse">
                        <div class="panel-body">
                            各位读者，图书馆改造工程已结束，我馆定于2021年5月17日恢复全楼层阅览座位使用。<br>特此通知，望读者相互转告。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}