{% extends "basea.html" %}

{% block ext_css %}
    <style>
        .bg {
            background-image: url("/static/img/background.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content1 %}
    <body class="bg">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-1">
                <a class="btn btn-primary btn-s" href="/admin/npost">发布新通知</a>
            </div>
        </div>
        {% if errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>提示：{{ errors }}</strong>
            </div>
        {% endif %}
        <hr>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table">
                    <thead>
                    <tr class="info">
                        <th>标题</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for notice in notice_list %}
                    <tr class="warning">
                        <td>{{ notice.title }}</td>
                        <td>{{ notice.created }}</td>
                        <td>
                            <a class="btn btn-warning btn-xs" href="/admin/nshow?noticeId={{ notice.id }}">查看</a>
                            <a class="btn btn-warning btn-xs" href="/admin/modify?noticeId={{ notice.id }}">修改</a>
                            <a class="btn btn-warning btn-xs" href="/admin/ndelete?noticeId={{ notice.id }}">删除</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    <!-- 显示页码 -->
    <nav aria-label="Page navigation">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-4 column" align="center">
            <ul class="pagination">
                {% for p in range(n_page) %}
                    {% if loop.index == page %}
                        <li class="active"><a href="#">{{ loop.index }}</a></li>
                    {% else %}
                        <li><a href="/admin/nmng?page={{ loop.index }}">{{ loop.index }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4 column">
        </div>
    </nav>
    </div>
    </body>
{% endblock %}